<div class="hero-unit">
  <h1>欢迎来到Microblog</h1>
  <p>Microblog是一个基于node.js的微博系统</p>
  <p >
  <a class="btn btn-primary btn-large" href="/login" target="_blank">登录</a>
 <a class="btn  btn-large" href="/reg" target="_blank">立即注册</a>
 </p>
</div>

<!-- 栅格系统 -->
<div class="container">
<div class="row">
 <div class="col-md-4">
   <h2>MGT360124说</h2>
     <p>吴亦凡这个娘们我已经忍了她很久了，不过他长得比较协调，也就算了！
      结果冒出来一个蔡徐坤，比吴亦凡还要娘，我特么实在不能忍了！
      卧槽！中国的银幕标准男什么时候下降成这种水平了！</p>
 </div>
 <div class="col-md-4">
   <h2>MGT360124说</h2>
     <p>攻击别人长相的是最恶心的，8102年了，
       还能这么肆无忌惮拿外表黑人？以前骂李宇春像男的，
       现在说别人男生化妆就像女的？别人怎么打扮，
       关你们这些屌癌屁事，说别人娘之前，先把你们肚腩收一收，
       我就觉得会打扮的男生再娘都比我朝大部分大腹便便，
       不修边幅还以为自己就是man爆的油腻男强多了</p>
 </div>
 <div class="col-md-4">
    <h2>MGT360124说</h2>
     <p>嘭嘭嘭！国际军事比赛-2018的现场传来阵阵爆破声。
       比赛开始不到8分钟，中国一队就把现场埋下的全部地雷发现、引爆、排除，
       比平时训练还快了2分钟。一起来看看，
       探雷手们是如何在短短的时间里精准地探测到地雷的。</p>
 </div>
</div>
</div>